[submodule "js-fastify-blog"]
	path = js-fastify-blog
	url = https://github.com/hexlet-components/js-fastify-blog.git
[submodule "python-project-52"]
	path = python-project-52
	url = https://github.com/nic11371/python-project-52.git
